<div class="off-canvas">
    <a href="#0"><img src="assets/img/logo.svg" draggable="false"></a>
    <ul>
        <li><a href="{{ path_for('home') }}">Home</a></li>
        <li><a href="{{ path_for('about') }}">About Us</a></li>
        <li><a href="{{ path_for('portfolio') }}">Portfolio</a></li>
        <li><a href="{{ path_for('careers') }}">Careers</a></li>
        <li><a href="{{ path_for('contact') }}">Contact</a></li>
    </ul>
</div>
